.wrapper {
  margin: 0 auto;
  max-width: 920px;
  padding-right: 10px;
  padding-left: 10px;
  &--presentation {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  &--integration,
  &--backup,
  &--recovery {
    padding-top: 50px;
    padding-bottom: 40px;
  }
  &--about {
    padding-top: 50px;
    padding-bottom: 80px;
  }
  &--footer {
  	padding-top: 20px;
    padding-bottom: 230px;
  }
}
